<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="flex-container" style="background-color:rgba(255,255,255,0.8); color:grey; padding:10px; text-align:center">
    <img src="~/Images/newlogo.png" alt="Powerweed logo">
    <p style="margin-top:20px"><small>Use the Icons below to navigate this website</small></p>
    @*<div class="col-md-5">
        <h2>Employees Table</h2>
        <p style="font-size:70%;">
            Employees table includes all the information about your employees.
            Here you can Create, Edit & Update your employee information.
        </p>
        <a href="~/EmployeesMVC/Index" class="btn btn-success btn-lg">EMPLOYEES &raquo;</a>
    </div>
    <div class="col-md-5">
        <h2>Jobs Table</h2>
        <p style="font-size:70%;">
            Jobs table includes all the information about the jobs you currently have.
            Here you can Create, Edit & Update your jobs information.
        </p>
        <a href="~/JobsMVC/Index" class="btn btn-success btn-lg">JOBS &raquo;</a>
    </div>
    <div class="col-md-5">
        <h2>Admins Table</h2>
        <p style="font-size:70%;">
            Admins table includes all the information about your Admins.
            Here you can Create, Edit & Update your admin information.
            Admins are the users of this app.
        </p>
        <a href="~/AdminsMVC/Index" class="btn btn-success btn-lg">ADMINS &raquo;</a>
    </div>
    <div class="col-md-5">
        <h2>Fleet Table</h2>
        <p style="font-size:70%;">
            Fleet table includes all the information about your Fleet.
            Here you can Create, Edit & Update your Fleet information..
        </p>
        <a href="~/FleetsMVC/Index" class="btn btn-success btn-lg">Fleet &raquo;</a>
    </div>
    <div class="col-md-5">
        <h2>Reports</h2>
        <p style="font-size:70%;">
            Find and view all the reports of the jobs that were assigned to employees.
        </p>
        <a href="~/JobsAssignedsMVC/GridView" class="btn btn-success btn-lg">REPORTS &raquo;</a>
    </div>
    <div class="col-md-5">
        <h2>Assigned Jobs Table</h2>
        <p style="font-size:70%;">
            Assigned Jobs includes all the information about the jobs that have been assigned to Employees.
            Take caution when altering this table because it will affect the Phone App.
        </p>
        <a href="~/JobsAssignedsMVC/Index" class="btn btn-success btn-lg">Assigned Jobs &raquo;</a>
    </div>*@
</div>

<div class="flex-container" style="background-color:rgba(34,34,34,0.5); text-align:center; padding-top:50px; padding-bottom:50px">
    <div class="row" style="text-align:center">
        <a href="~/EmployeesMVC/Index">
            <div class="w3-btn w3-ripple w3-margin" style="margin:0;padding:0">
                <img src="~/Images/EmployeeIcon.png" style="max-width:150px">
                <h6 style="margin:15px; color:white">EMPLOYEE TABLE</h6>
            </div>
        </a>
        <a href="~/JobsMVC/Index">
            <div class="w3-btn w3-ripple w3-margin" style="margin:0;padding:0">
                <img src="~/Images/JobIcon.png" style="max-width:150px">
                <h6 style="margin:15px; color:white">JOBS TABLE</h6>
            </div>
        </a>
        <a href="~/AdminsMVC/Index">
            <div class="w3-btn w3-ripple w3-margin" style="margin:0;padding:0">
                <img src="~/Images/AdminIcon.png" style="max-width:150px">
                <h6 style="margin:15px; color:white">ADMINS TABLE</h6>
            </div>
        </a><a href="~/FleetsMVC/Index">
    <div class="w3-btn w3-ripple w3-margin" style="margin:0;padding:0">
        <img src="~/Images/FleetIcon.png" style="max-width:150px">
        <h6 style="margin:15px; color:white">FLEETS TABLE</h6>
    </div>
</a><a href="~/JobsAssignedsMVC/GridView">
    <div class="w3-btn w3-ripple w3-margin" style="margin:0;padding:0">
        <img src="~/Images/ReportIcon.png" style="max-width:1500px">
        <h6 style="margin:15px; color:white">REPORTS TABLE</h6>
    </div>
</a><a href="~/JobsAssignedsMVC/Index">
    <div class="w3-btn w3-ripple w3-margin" style="margin:0;padding:0">
        <img src="~/Images/jobsassignedIcon.png" style="max-width:150px">
        <h6 style="margin:15px; color:white">ASSIGNED JOBS</h6>
    </div>
</a>
</div>
</div>